.hero {
    background-image: url("/Users/crub/Desktop/projects/Testing/pexels-photomix-company-95949\ copy.jpg");
    background-size: cover;
        background-position: center;
        opacity: 0.5;

}