
body {
    padding: auto;
  }
 .header{
     text-align: center;
     background-color: #14b8cb;
     color: white;
     height: 100px;
     margin-top: 0;
 }
 h1{
     padding: 25px;
 }
 .input-group{
     width: 20rem;
     display: block;
     margin-top: 5rem;
     }
.span{
font-size: 35px;
font-family: 'Rowdies', cursive;
margin-bottom: 2px;
}
.input-group-field{
    padding: 25px 10px;
    border-radius: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.main
.input-group-button
.button{
 height: 55px;
 width: 100px;
 margin-top: 10px;
border-radius: 15px;
}
#recent-history{
    border:7px solid rgb(11, 171, 189); 
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    border-radius: 15px;
}
.section {
    margin-top: 50px;
    
}
.recipe{
    border: 3px solid rgb(11, 171, 189); 

}



.footer{   
    margin:auto;
    background-color: #14b8cb;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Rowdies', cursive;
}